# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb
*.idb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.user
*.ncb
*.suo
*.exe
*.htm
*.idb
*.manifest
*.res
*.dep

# poco specify
poco-1.4.6p2-all/Foundation/testsuite/bin/
poco-1.4.6p2-all/lib/